.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}
.columns > div > div > ul > li {
  background-color: #92e3a9;
  font-size: 4rem;
  font-weight: 500;
  color: inherit;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 1rem;
}
.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
