.hero > div {
  display: flex;
  flex-direction: column;
}

.hero img {
  width: 100%;
}

.hero > div > div {
  order: 1;
}

.hero > div > .hero-img-col {
  order: 0;
}

.hero > div > .hero-img-col img {
  display: block;
  border-radius: 20px;
  background-color: black;
}

@media (width >= 900px) {
  .hero > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .hero > div > div {
    flex: 1;
    order: unset;
  }
}
